*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}


:root{
    --text-color: #fff;
    --dark-color: #000;
    --purple: #5221E6;
    --accent--color: #181823;
    --text-blue: #8491A0;

}

body{
    font-family: "Sen";
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    background: var(--dark-color);

}

.container{
    max-width: 1296px;
    margin: 0 auto;
}

/* header */

.header{
    position: fixed;
    z-index: 2;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.header__menu{
    display: flex;
    align-items: center;
}

.menu__link{
    display: inline-block;
    font-size: 16px;
    padding: 32px 24px;
    transition: all .3s linear;
}

.active{
    background: var(--purple);
}

.menu__link:hover{
    text-decoration: underline;
}


.hero{
    position: relative;
}

.hero__container{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.hero__img{
    width: 50%;
    margin-top: 150px;
    object-fit: cover;
    z-index: 2;
    position: relative;
}

.hero__img img{
    width: 120%;
    position: absolute;
    right: -100px;
}


.hero__info{
    width: 60%;
    max-width: 738px;
    padding: 225px 0;
    background: var(--accent--color);
}

.hero__title{
    font-size: 78px;
    font-weight: 700;
    margin-bottom: 32px;
}

.hero__title span{
    opacity: .3;
}

/* worked */

.worked__container{
    padding: 120px 0;
}

.span{
    color: var(--text-blue);
}

.worked__span{
    font-size: 16px;
    font-weight: 700;
}